@use "../abstracts" as *;

.about-person {
  @include md {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  @include xl {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .wp-block-group {
    align-self: center;
    @include xl {
      align-self: start;
    }
  }

  p {
    margin-bottom: 0.2rem;
  }
  h4 {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  figure {
    margin-bottom: 1.5rem;
  }

  img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: top;
    
    @include xl {
      height: 284px;
    }
  }

  ul {
    list-style: none;
    margin: 0 0 1.5rem 0;
    padding: 0;
    a {
      display: block;
      color: $color-gray;
      padding: 0.2rem 0;
      transition: color 500ms ease-in-out;

      &:hover {
        text-decoration: none;
        color: $color-primary;
      }

      i {
        color: $color-primary;
        display: inline-block;
        margin-right: 0.5rem !important;
      }
    }
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 4rem;
  column-gap: 1.5rem;

  @include xl {
    flex-direction: row;
    align-items: flex-start;
    row-gap: 0;
    column-gap: 1.5rem;
  }
}

.block-grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;

  @include md {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  .map {
    display: flex;
    flex-direction: column;

    iframe {
      width: 100%;
      height: 400px;

      @include md {
        height: auto;
        flex-grow: 1;
      }
    }



  }

  h3 {
    text-transform: uppercase;
    padding-bottom: 1rem;
    border-bottom: 1px solid $color-gray-light;
  }


 
}


.contact-form .wpcf7-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @include md {
    grid-template-columns: 1fr 1fr;
  }

  p {
    margin-bottom: 0;
  }

  @include md {
  p:nth-child(6),
  p:nth-child(7) {
    grid-column: 1 / 3;
  }

  & > div {
    grid-column: 1 / 3;
  }
}

  .wpcf7-not-valid-tip {
    font-size: 0.875rem;
    margin-top: 0.3rem;
  }
.wpcf7-response-output {
  margin: 0;
  padding: 0.7rem;
}


}