@use "../abstracts/" as *;

.header {
  padding: 1.5rem 0;
  border-bottom: 1px solid $color-gray-light;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .custom-logo {
    max-width: 130px;
    height: auto;

    @include lg {
      max-width: 170px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__call-btn {
    display: block;
    background: $color-primary;
    padding: 0.5rem;
  }

  .open-navi {
    display: block;
    width: 38px;
    height: 38px;
    color: $color-dark;
    cursor: pointer;

    @include lg {
      display: none;
    }
  }
}
